@page "/invest"
@inject HttpClient Http

<PageTitle>bogle.tools/invest</PageTitle>

<h1>Overview</h1>

To be most efficient in your savings, consider the Boglehead Investment Priorities<a href="https://www.bogleheads.org/wiki/Prioritizing_investments" class="oi oi-external-link m-2 aria-hidden="true"></a>. Choose each priority to see details.<br/>

<style>
    .btn {
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        display:inline-block;
        text-align:center;
        width:250px;
        border-radius: 10px;
    }
</style>
<div>
    @if (priorities == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table>
            <tr>
                <td style="width:120px">High Priority</td>
                <td>
                    @foreach (var priority in priorities) {
                        if (priority.level == "high") {
                            var href = "/invest/" + @priority.step;
                            <div>
                                <a href="@href" style="background:red" class="m-1 btn" >@priority.number: @priority.bestDiagramTitle</a>
                                <select>
                                    <option>Unsure</option>
                                    <option>n/a</option>
                                    <option>Needed</option>
                                    <option>Not in Plan</option>
                                    <option>Planned</option>
                                    <option>Executing</option>
                                    <option>Complete</option>
                                </select>
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:120px">Medium Priority</td>
                <td>
                    @foreach (var priority in priorities) {
                        if (priority.level == "medium") {
                            var href = "/invest/" + @priority.step;
                            <div>
                                <a href="@href" style="background:blue" class="m-1 btn" >@priority.number: @priority.bestDiagramTitle</a>
                                <select>
                                    <option>Unsure</option>
                                    <option>n/a</option>
                                    <option>Needed</option>
                                    <option>Not in Plan</option>
                                    <option>Planned</option>
                                    <option>Executing</option>
                                    <option>Complete</option>
                                </select>
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:120px">Low Priority</td>
                <td>
                    @foreach (var priority in priorities) {
                        if (priority.level == "low") {
                            var href = "/invest/" + @priority.step;
                            <div>
                                <a href="@href" style="background:green" class="m-1 btn" >@priority.number: @priority.bestDiagramTitle</a>
                                <select>
                                    <option>Unsure</option>
                                    <option>n/a</option>
                                    <option>Needed</option>
                                    <option>Not in Plan</option>
                                    <option>Planned</option>
                                    <option>Executing</option>
                                    <option>Complete</option>
                                </select>
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>

            
    }
</div>


@code {

    private InvestementPriority[]? priorities;

    protected override async Task OnInitializedAsync()
    {
        priorities = await Http.GetFromJsonAsync<InvestementPriority[]>("data/investment-priorities.json");
    }
}