@page "/saving"
@page "/saving/{stepPath}"
@inject HttpClient Http

<PageTitle>
saving/@stepPath
</PageTitle>

<style>
    .btn {
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        display:inline-block;
        text-align:center;
        width:175px;
        border-radius: 10px;
    }
    .dollar,.percent {
        width: 100px;
    }
</style>

    @if (priorities == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (stepPath == null) {
            var prevPriority = priorities[9];
            var nextPriority = priorities[0];
            string prevPage = "/saving/" + prevPriority?.step;
            string nextPage = "/saving/" + nextPriority?.step;
            
            <h3><a style='font-size:24pt' href="@prevPage"><span class="oi oi-arrow-left m-2 aria-hidden="true"></span></a>bogle.tools/saving<a style='font-size:24pt;float:right' href="@nextPage"><span class="oi oi-arrow-right m-2 aria-hidden="true"></span></a></h3>

            <p>To save money efficiently, you should prioritize the most efficient techniques. This tool helps you apply the <a href="https://www.bogleheads.org/wiki/Prioritizing_investments">Bogleheads Prioritizing Investments wiki</a><span class="oi oi-external-link m-2 aria-hidden="true"></span>. Review each priority in order.</p>

            <div>
                <EditForm Model="taxFiling">
                    <label>2022 Adjusted Gross Income:</label> $<input type=text class=dollar @bind-Value=taxFiling.AdjustedGrossIncome @bind-Value:event=oninput /><br/><br/>
                </EditForm>
                <table>
                    <thead>
                        <th style="padding-right:10px"></th>
                        <th></th>
                        @if(taxFiling.PersonCount > 0) {<th style="padding-right:10px">$</th> }
                        @if(taxFiling.PersonCount > 0) {<th style="padding-right:10px">Match</th> }
                    </thead>

                    @foreach (var priority in priorities) {
                        var href = "/saving/" + @priority.step;
                        <tr>
                            @if(priority.number == 1 || priority.number == 4 || priority.number==9){
                                var rowspan = (priority.number == 1 ? 3 : (priority.number == 4 ? 5 : (priority.number == 9 ? 2 : 0)));
                                <td rowspan="@rowspan" style=writing-mode:vertical-lr><div style=text-align:center;background:green;color:white;margin:4px>@priority.level Priority</div></td>
                            } else
                            { }

                            <td>
                                <div>
                                    <a href="@href" style="background:blue" class="m-1 btn" >@priority.number: @priority.bestDiagramTitle</a>
                                </div>
                            </td>
                            @switch (priority.number) {
                                case 1: 
                                   <td style=text-align:right>@taxFiling.EmergencyFund.AmountToSave</td><td></td>
                                   break;
                                case 2:
                                   <td style=text-align:right>
                                        @taxFiling.People[0].EmployerPlan.AmountToSaveForMatch<br/>
                                        @taxFiling.People[1].EmployerPlan.AmountToSaveForMatch<br/>
                                   </td>
                                   <td style=text-align:right>
                                        @taxFiling.People[0].EmployerPlan.MatchLimit<br/>
                                        @taxFiling.People[1].EmployerPlan.MatchLimit
                                   </td>
                                   break;
                                case 4: 
                                    <td style=text-align:right>
                                        @taxFiling.People[0].HealthSavingsAccount.AmountToSave<br/>
                                        @taxFiling.People[1].HealthSavingsAccount.AmountToSave<br/>
                                    </td>
                                    <td style=text-align:right>
                                        @taxFiling.People[0].HealthSavingsAccount.EmployerContribution<br/>
                                        @taxFiling.People[1].HealthSavingsAccount.EmployerContribution
                                    </td>
                                   break;
                                case 5:
                                    @if (taxFiling.AdjustedGrossIncome != null) {
                                        <td style=text-align:right>
                                        @if(taxFiling.PersonCount > 0) {
                                            @switch (taxFiling.People[0].IRAChoice) {
                                                case "traditional":
                                                    <span>IRA: @taxFiling.People[0].IRA.AmountToSave</span><br/>
                                                    break;
                                                case "roth":
                                                    <span>Roth: @taxFiling.People[0].RothIRA.AmountToSave</span><br/>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                        @if(taxFiling.PersonCount > 1) {
                                            @switch (taxFiling.People[1].IRAChoice) {
                                                case "traditional":
                                                    <span>IRA: @taxFiling.People[1].IRA.AmountToSave</span><br/>
                                                    break;
                                                case "roth":
                                                    <span>Roth: @taxFiling.People[1].RothIRA.AmountToSave</span><br/>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                        </td>
                                    }
                                   break;
                                case 6: 
                                    <td style=text-align:right>
                                        @taxFiling.People[0].EmployerPlan.AmountToSaveForNonMatched<br/>
                                        @taxFiling.People[1].EmployerPlan.AmountToSaveForNonMatched
                                    </td>
                                    break;
                                case 7: 
                                   <td style=text-align:right>@taxFiling.People[0].EmployerPlan.AmountToSaveForBackdoorRoth</td>
                                   <td style=text-align:right>@taxFiling.People[1].EmployerPlan.AmountToSaveForBackdoorRoth</td>
                                   break;
                                case 9: 
                                    @if(taxFiling.PersonCount > 0) {<td style=text-align:right>unlimited</td> }
                                    @if(taxFiling.PersonCount > 1) {<td style=text-align:right>unlimited</td> }
                                    break;                                                                   
                                default:
                                    <td style=text-align:right>NYI</td><td></td>
                                    break;
                            }
                        </tr>
                    }
                </table>
            </div>
            
            <a style='font-size:24pt' href="@prevPage"><span class="oi oi-arrow-left m-2 aria-hidden="true"></span></a>
            <a style='font-size:24pt;float:right' href="@nextPage"><span class="oi oi-arrow-right m-2 aria-hidden="true"></span></a><br/>
        }
        else if (stepPath == "tax-filing-info") {

            @code {
                private TaxFiling taxFiling = new();
            }
        }
        else
        {
            @foreach (var priority in priorities) {
                @if (priority.step == stepPath) {
                    var prevPriority = priority.number >= 1 + 1 ? priorities[priority.number - 2] : null;
                    var nextPriority = priority.number <= 10 - 1 ? priorities[priority.number] : null;
                    string prevPage = "/saving/" + prevPriority?.step;
                    string nextPage = "/saving/" + nextPriority?.step;

                    <h2>
                        <a style='font-size:24pt' href="@prevPage"><span class="oi oi-arrow-left m-2 aria-hidden="true"></span></a>
                        @priority.number: @priority.title
                        <a style='font-size:24pt;float:right' href="@nextPage"><span class="oi oi-arrow-right m-2 aria-hidden="true"></span></a><br/>
                    </h2>

                    <h4>@((MarkupString)markupize(priority.priority))</h4>

                    <p><b>Summary:</b> @((MarkupString)markupize(priority.summary))</p>

                        @switch (priority.number) {
                            case 1:
                                <p><b>Worksheet:</b> </p>

                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    
                                    <label>Monthly Expenses:</label> <span>$</span><input class=dollar type=text @bind-Value="taxFiling.EmergencyFund.MonthlyExpenses" @bind-Value:event="oninput" /><br/><br/>
                                    <label>Planned size of emergency fund:</label><br/>
                                    <InputRadioGroup @bind-Value=taxFiling.EmergencyFund.TargetMonths>
                                        <InputRadio Value='0'/> None<br/>
                                        <InputRadio Value='1'/> 1 month: $@taxFiling.EmergencyFund.MonthlyExpenses<br/>
                                        <InputRadio Value='3'/> 3 months: $@taxFiling.EmergencyFund.ThreeMonths<br/>
                                        <InputRadio Value='4'/> Other: <br/>
                                    </InputRadioGroup>
                                    <div style="margin-left:20px">$<input type=text class=dollar @bind-Value="taxFiling.EmergencyFund.EFOther" @bind-Value:event="oninput"/></div>
                                    <br/>
                                    <label>Current Size:</label> <span>$</span><input class=dollar type=text @bind-Value="taxFiling.EmergencyFund.CurrentBalance" @bind-Value:event="oninput"/><br/><br/>
                                    <label>Amount to Save:</label> <span>$</span>@taxFiling.EmergencyFund.AmountToSave<br/>
                                </EditForm><br/>
                                break;
                            case 2:
                                <p><b>Prerequisities:</b> </p>
                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <label>Tax Filing Status:</label> <select @bind=taxFiling.TaxFilingStatus>
                                                <option value=None>choose...</option>
                                                <option>Single</option>
                                                <option value=MarriedFilingJointly>Married filing jointly</option>
                                                <option value=MarriedFilingSeperately>Married filing seperately</option>
                                                <option value=MarriedFilingSeperatelyAndLivingApart>Married filing seperately (and living apart)</option>
                                                </select><br/>
                                </EditForm><br/>
                                @for (int i = 0; i < taxFiling.PersonCount; i++) {
                                    var person = taxFiling.People[i];
                                    var eligibleId = "eligible-" + i;
                                    <p><b>Person @(i+1):</b> </p>

                                    <EditForm Model="person" style=margin-left:25px>
                                        <InputCheckbox @bind-Value=person.EmployerPlan.Eligible id=@eligibleId /> <label for=@eligibleId>Eligible for workplace retirement savings?</label><br/><br/>
                                        <fieldset disabled=@person.EmployerPlan.NotEligible style='margin-left:20px'>
                                            <label>Percent Matched:</label> <input type=text class=dollar @bind-Value=person.EmployerPlan.PercentMatched @bind-Value:event=oninput />%<br/>
                                            <label>Match Limit:</label> $<input type=text class=dollar @bind-Value=person.EmployerPlan.MatchLimit @bind-Value:event=oninput/><br/>
                                            <label>Contribution required to get maximum match:</label> $<span>@person.EmployerPlan.AmountToSaveForMatch</span><br/>
                                        </fieldset>
                                    </EditForm><br/>
                                }

                                break;
                            case 4:
                                <p><b>Prerequisities:</b> </p>
                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <label>Tax Filing Status:</label> <select @bind=taxFiling.TaxFilingStatus>
                                                <option value=None>choose...</option>
                                                <option>Single</option>
                                                <option value=MarriedFilingJointly>Married filing jointly</option>
                                                <option value=MarriedFilingSeperately>Married filing seperately</option>
                                                <option value=MarriedFilingSeperatelyAndLivingApart>Married filing seperately (and living apart)</option>
                                                </select><br/>
                                </EditForm><br/>
                                @for (int i = 0; i < taxFiling.PersonCount; i++) {
                                    var person = taxFiling.People[i];
                                    var haveHDHPid = "eligible-" + i;
                                    <p><b>Person @(i+1):</b> </p>

                                    <EditForm Model="person" style=margin-left:25px>
                                        <InputCheckbox @bind-Value=person.HealthSavingsAccount.Eligible id='@haveHDHPid'/> <label for='@haveHDHPid'>Have high deductible health plan?</label><br/><br/>
                                        <fieldset disabled=@person.HealthSavingsAccount.NotEligible style='margin-left:20px'>
                                            <label>Individual/Family:</label>   <select @bind=person.HealthSavingsAccount.Family><option value=None>choose...</option><option value=EmployeeOnly>Employee only</option><option>Family</option></select><br/>
                                            <label>Contribution Limit:</label> $@person.HealthSavingsAccount.Limit<br/><br/>

                                            <label>2022 Employer Contribution:</label> $<input type=text class=dollar @bind-Value=person.HealthSavingsAccount.EmployerContribution @bind-Value:event=oninput><br/>
                                        </fieldset>
                                        <br/>
                                        <label>Amount to Save:</label> <span>$</span>@person.HealthSavingsAccount.AmountToSave<br/>
                                    </EditForm><br/>
                                }

                                break;
                            case 5:
                                <p><b>Prerequisities:</b> </p>
                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <label>Tax Filing Status:</label> <select @bind=taxFiling.TaxFilingStatus>
                                        <option value=None>choose...</option>
                                        <option>Single</option>
                                        <option value=MarriedFilingJointly>Married filing jointly</option>
                                        <option value=MarriedFilingSeperately>Married filing seperately</option>
                                        <option value=MarriedFilingSeperatelyAndLivingApart>Married filing seperately (and living apart)</option>
                                        </select><br/>
                                    <label>2022 Adjusted Gross Income:</label> $<input type=text class=dollar @bind-Value=taxFiling.AdjustedGrossIncome @bind-Value:event=oninput /><br/>
                                </EditForm><br/>

                                if (taxFiling.AdjustedGrossIncome != null) {
                                    @for (int i = 0; i < taxFiling.PersonCount; i++) {
                                        var person = taxFiling.People[i];
                                        var eligibleId = "eligible-" + i;
                                        var over50id = "over50-" + i;
                                        var traditional = "traditional";
                                        var roth = "roth";
                                        <p><b>Person @(i+1):</b> </p>

                                        <EditForm Model="person" style=margin-left:25px>
                                            <InputCheckbox @bind-Value=person.EmployerPlan.Eligible id='@eligibleId'/> <label for='@eligibleId'>Eligible for workplace retirement savings?</label><br/><br/>
                                            <InputCheckbox id=@over50id @bind-Value=person.FiftyOrOver /> <label for=@over50id>50 or older?</label><br/><br/>

                                            <label><i>Choice of Contributions:</i></label><br/>
                                            <InputRadioGroup @bind-Value="person.IRAChoice">
                                                <InputRadio Value="traditional" /> <label><label>IRA:</label> $<span>@person.IRA.AmountToSave</span> <span>($@person.IRA.DeductionAllowed Tax Deductible)</span><br/></label><br/>
                                                <InputRadio Value="roth" /> <label><label>Roth IRA:</label> $<span>@person.RothIRA.AmountToSave</span><br/></label>
                                            </InputRadioGroup><br/>
                                        </EditForm><br/>
                                    }
                                }

                                break;
                            case 6:
                                <p><b>Prerequisities:</b> </p>

                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <label>Tax Filing Status:</label> <select @bind=taxFiling.TaxFilingStatus>
                                                <option value=None>choose...</option>
                                                <option>Single</option>
                                                <option value=MarriedFilingJointly>Married filing jointly</option>
                                                <option value=MarriedFilingSeperately>Married filing seperately</option>
                                                <option value=MarriedFilingSeperatelyAndLivingApart>Married filing seperately (and living apart)</option>
                                                </select><br/>
                                </EditForm><br/>
                                @for (int i = 0; i < taxFiling.PersonCount; i++) {
                                    var person = taxFiling.People[i];
                                    var eligibleId = "eligible-" + i;
                                    var fiftyLabel = "over50-" + i;
                                    <p><b>Person @(i+1):</b> </p>

                                    <EditForm Model="person" style=margin-left:25px>
                                        <InputCheckbox @bind-Value=person.EmployerPlan.Eligible id=@eligibleId /> <label for=@eligibleId>Eligible for workplace retirement savings?</label><br/><br/>

                                        <InputCheckbox id=@fiftyLabel @bind-Value=person.FiftyOrOver /> <label for=@fiftyLabel>50 or older?</label><br/><br/>

                                        <label>2022 401k Total Contribution Allowed:</label> $<span>@person.EmployerPlan.ContributionAllowed</span><br/>
                                        <label>minus Matched Contribution Allowed (step 2):</label> $<span>@person.EmployerPlan.AmountToSaveForMatch</span><br/>
                                        <label>Amount to Save (unmatched):</label> $<span>@person.EmployerPlan.AmountToSaveForNonMatched</span><br/>
                                    </EditForm><br/>
                                }

                                break;
                            case 7:
                                <p><b>Prerequisities:</b> </p>
                                <EditForm Model="taxFiling" style=margin-left:25px>
                                    <label>Tax Filing Status:</label> <select @bind=taxFiling.TaxFilingStatus>
                                        <option value=None>choose...</option>
                                        <option>Single</option>
                                        <option value=MarriedFilingJointly>Married filing jointly</option>
                                        <option value=MarriedFilingSeperately>Married filing seperately</option>
                                        <option value=MarriedFilingSeperatelyAndLivingApart>Married filing seperately (and living apart)</option>
                                        </select><br/>
                                </EditForm><br/>

                                @for (int i = 0; i < taxFiling.PersonCount; i++) {
                                    var person = taxFiling.People[i];
                                    <p><b>Person @(i+1):</b> </p>

                                    <EditForm Model="person" style=margin-left:25px>
                                        <InputCheckbox @bind-Value=person.EmployerPlan.Eligible id='eligible'/> <label for='eligible'>Eligible for workplace retirement savings?</label><br/><br/>

                                        <fieldset disabled=@person.EmployerPlan.NotEligible style='margin-left:20px'>
                                            <label>2022 Employer Post Tax "Mega Backdoor Roth" Contribution Allowed:</label> <span>$</span><input type=text class=dollar @bind-Value=person.EmployerPlan.AmountToSaveForBackdoorRoth @bind-Value:event=oninput/><br/><br/>
                                        </fieldset>
                                        <label>Amount to Save:</label> <span>$</span><span>@person.EmployerPlan.AmountToSaveForBackdoorRoth</span><br/>
                                    </EditForm><br/>
                                }

                                break;
                            case 9:
                                <label>Amount to Save:</label> <span>no limits</span><br/>
                                break;
                            case 3:
                            case 8:
                            case 10:
                                <p><b>Worksheet:</b> </p>
                                <div>
                                    <i>list of debts (all interest rates):</i><br>
                                    <table>
                                    <thead>
                                    <th><label>name</label></th>
                                    <th><label>interest rate</label></th>
                                    <th><label>category</label></th>
                                    <th><label>payoff date</label></th>
                                    <th><label>total $</label></th>
                                    </thead>
                                    <tr>
                                    <td><input type=text class=dollar /></td>
                                    <td><input type=text class=dollar /></td>
                                    <td><span></span></td>
                                    <td><input type=text class=dollar /></td>
                                    <td><input type=text class=dollar /></td>
                                    </tr>
                                    </table>
                                </div>
                                <br/>
                                <label>Amount to Pay-Off (@priority.title):</label> <span>$</span><span>0</span><br/>
                                break;
                        }
                    <p><b>Approximate Return:</b> @priority.returns</p>
                    <p><b>Details:</b> @((MarkupString)markupize(priority.description))</p>

                    <a style='font-size:24pt' href="@prevPage"><span class="oi oi-arrow-left m-2 aria-hidden="true"></span></a>
                    <a style='font-size:24pt;float:right' href="@nextPage"><span class="oi oi-arrow-right m-2 aria-hidden="true"></span></a><br/>
                }
            }
        }
    }

@code {
    public enum Mode {
        normal = 0,
        href,
        text,
    }
    public string markupize(string? wikiText) {
        if (wikiText == null) return "";
        string returnVal = "<span>";
        char lastChar = 'x';
        var mode = Mode.normal;
        string href = "";
        string text = "";
        foreach (var c in wikiText) {
            switch (c) {
                case '[':
                    if (lastChar == '[') {
                        mode = Mode.href;
                    }
                    break;
                case ']':
                    if (lastChar == ']') {
                        if (text == "") { text = href; }
                        returnVal += "<a href='https://www.bogleheads.org/wiki/" + href + "'>" + text + "</a>";
                        href = "";
                        text = "";
                        mode = Mode.normal;
                    }
                    break;
                case '|':
                    if (mode == Mode.href) {
                        mode = Mode.text;
                    }
                    break;
            }

            switch (mode) {
                case Mode.href:
                    switch (c) {
                        case '[':
                        case ']':
                            break;
                        default:
                            href += c;
                            break;
                     }
                    break;
                case Mode.text:
                    switch (c) {
                        case '[':
                        case ']':
                        case '|':
                            break;
                        default:
                            text += c;
                            break;
                     }
                    break;
                default:
                      switch (c) {
                        case '[':
                        case ']':
                            break;
                        case '\n':
                            returnVal += "<br/>";
                            break;
                        default:
                            returnVal += c;
                            break;
                     }
                    break;
            }

            lastChar = c;
        }
        returnVal += "</span>";

        return returnVal;
    }

    public string foo = "<p>hello <b>worjjld</b> again</p>";

    [Parameter]
    public string? stepPath { get; set; }

    private InvestmentPriority[]? priorities;

    protected override async Task OnInitializedAsync()
    {
        priorities = await Http.GetFromJsonAsync<InvestmentPriority[]>("data/investment-priorities.json");
    }
}
