@page "/activate"
@inject IAppData appData
@inject NavigationManager Navigation
@inject LocalStorageAccessor LocalStorageAccessor
@inject IRSData irsData
@inject HttpClient Http

<PageTitle>bogle.tools activate</PageTitle>

<h1>bogle.tools activate</h1>
@if (profileNames != null && profileNames.Count > 0)
{
    <p>Click on profile name to make it the active profile. You'll be navigated back to your prior page.</p>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    @foreach(var profileName in profileNames)
    {
        <tr>
            <td>
                @if(profileName==appData.CurrentProfileName){<b>&nbsp;[active]&nbsp;</b>} 
            </td>
            <td>
                @if (renameProfileName == profileName)
                {
                    <EditForm Model="appData">
                        <InputText @bind-Value=newName />
                    </EditForm>
                }
                else
                {
                    <a href=/portfolio @onclick="@(e=>makeProfileActive(e,profileName))" @onclick:preventDefault>@profileName</a><span>&nbsp;</span>
                }
            </td>
            <td>
                @if (renameProfileName == null || renameProfileName == profileName)
                {
                    <button @onclick="@(e=>renameProfile(e,profileName))">Rename</button>
                }
                @if (renameProfileName == null)
                {
                    <button @onclick="@(e=>deleteProfile(e,profileName))">Del</button>
                }
                @if (renameProfileName == null)
                {
                    <button @onclick="@(e=>shareProfileData(e,profileName))">Share</button>
                }
            </td>
        </tr>
    }
    </table>
} else {
    newProfileName = "primary";
    
    <p>Choose a profile name (defaults to 'primary') to store your data locally.</p>
}

<br/>
<label>Fetch shared profile:</label><br/>
<InputText placeholder="enter code" @bind-Value="@securityKey" /><InputText placeholder="profile name" @bind-Value="@newProfileName" /><button @onclick="fetchProfileData">fetch</button>
<br/>
<span>@log</span>
@code {
    private ElementReference renameBox;

    private async Task makeProfileActive(EventArgs e, string profileName)
    {
        appData.CurrentProfileName = profileName;
        await LocalStorageAccessor.SetValueAsync("CurrentProfileName", profileName);
        await ProfileUtilities.Load(appData);
        if (appData.LastPageUri != null)
        {
            Navigation.NavigateTo(appData.LastPageUri);
        }
    }

    private async Task renameProfile(EventArgs e, string profileName)
    {
        if (renameProfileName == null)
        {
            renameProfileName = profileName;
            newName = profileName;
        }
        else
        {
            if (newName != renameProfileName && !string.IsNullOrEmpty(newName) && !profileNames.Contains(newName))
            {
                await LocalStorageAccessor.RenameKey(renameProfileName, newName);

                if (appData.CurrentProfileName == renameProfileName)
                {
                    appData.CurrentProfileName = newName;
                }

                renameProfileName = null;
                profileNames = await appData.CalculateProfileNames();
            }
        }
    }

    private async Task shareProfileData(EventArgs e, string profileName)
    {
        //TODO: what if not saved? this will get from localstorage.
        var profileData = await ProfileUtilities.GetProfileData(profileName);
        var jsonEncoding = "{ \"profileData\":'"+profileData+"'}";
        var myHttpContent = new MyHttpContent(jsonEncoding);
        var securityKeyResponse = await Http.PostAsync($"https://api.bogle.tools/api/sharedata", myHttpContent, CancellationToken.None);
        log += "shared. fetch within 2 minutes using securityKey: " + await securityKeyResponse.Content.ReadAsStringAsync() + "\n";
    }
    
    private async Task fetchProfileData()
    {
        var jsonEncoding = "{ 'securityKey':'"+securityKey+"'}";
        var myHttpContent = new MyHttpContent(jsonEncoding);
        var familyDataResponse = await Http.PostAsync($"https://api.bogle.tools/api/sharedata", myHttpContent, CancellationToken.None);
        await ProfileUtilities.Save(newProfileName, await familyDataResponse.Content.ReadAsStringAsync());
        if (appData.CurrentProfileName == newProfileName)
        {
            await ProfileUtilities.Load(appData);
        }

        Navigation.NavigateTo("/portfolio");
    }

    private async Task deleteProfile(EventArgs e, string profileName)
    {
        await LocalStorageAccessor.RemoveAsync(profileName);
        if (appData.CurrentProfileName == profileName)
        {
            appData.CurrentProfileName = null;
            appData.FamilyData = null;
        }
    }

    private async Task createProfile()
    {
        if (!string.IsNullOrEmpty(newProfileName)) {
            await ProfileUtilities.Save(newProfileName, new FamilyData(appData));
            newProfileName = "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        profileNames = await appData.CalculateProfileNames();
    }

    private List<string> profileNames { get; set ; }
    private string newProfileName { get; set; }
    private string? renameProfileName { get; set; }
    private string? newName {get; set;}
    private string? securityKey { get; set;}
    private string? log {get;set;}
}